body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 1rem;
}

#camera-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.tabs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}